@import "./vars.scss";

html,
body,
#application,
#application > div {
  height: 100%
}

body {
  color: $primary-color;
}

a {
  color: $secondary-color;
}

.btn:active,
.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none !important;
}

.btn-custom {
  font-weight: bold;
  border-radius: 24px !important;
  background: $additional-color !important;
  border: 2px solid $additional-color !important;
  color: $white-color !important;
}

.form-error {
  padding-top: 5px;
  font-weight: bold;
  padding-bottom: 2px;
  color: $additional-color !important;
}

.horizontal-line {
  border-bottom: 2px solid $tertiary-color;
}
