// Colors
$primary-color: #212738;
$secondary-color: #0ECFF0;
$tertiary-color: #798085;
$additional-color: #FB5658;
$white-color: #FFFFFF;

// Screen sizes
$screen-xs-min: 480px;
$screen-sm-min: 768px;
